header{
  height: 50px;
  text-align: center;
  background-color: #3498db;
  color: #fff;
}
h3 {
  margin: 0 auto;
  padding: 10px;
}
.todo-wrapper{
  text-align: center;
}

.todo-wrapper .btn{
  margin-left: 10px;
}

.todo-wrapper .bg-danger{
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.todo-wrapper i{
  float: right;
  cursor: pointer;
  width: 30px;
  height: 25px;
}

.todo-wrapper .todolist{
	list-style-type: none;
	padding: 0 20px;
}

.todo-wrapper .completedItem {
  background-color: rgba(91, 192, 222, 0.5) !important;
  text-decoration: line-through;
}

.todo-form {
	width: 100%;
	padding: 0 50px;
	text-align: center;
	margin: 10px 0;
}

.todo-input {
	width: 70%;
	padding: 5px;
}

.btn-success {
	width: 20%;
}

.item {
	padding: 5px 0;
	color: #fff;
	display: grid;
	grid-template-columns: 90px auto 90px;
	grid-template-rows: auto;
	margin-bottom: 10px;
}

.date,
.action{
	font-size: 14px;
}

.todo {
	font-size: 24px;
}